<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Mi perfil</title>
</head>
<body>
    <h1 class="datosText">DATOS DEL USUARIO</h1>

    <div class="datos">
        @if(!modificando)
        {
            <ul>
                <label for="nombre">NOMBRE:</label>
                    <li>{{usuario.nombre}}</li>
                
                <label for="correo">CORREO:</label>
                    <li>{{usuario.email}}</li>

                <div class="icono">
                    <li><i class="fa-solid fa-pencil" (click)="modifyingUser()"></i></li>
                </div>
            </ul>
        }
        @else
        {
                <form [formGroup]="form" (ngSubmit)="saveUser(usuario.id!)">
                    <label for="nombre">NOMBRE:</label>
                    <input class="nameInput" type="text" formControlName="nombre">
                    @if(form.controls['nombre'].hasError('minlength'))
                    {
                        <span style="color:red">Nombre demasiado corto</span>
                    }
                    @if(form.controls['nombre'].touched && form.controls['nombre'].hasError('nombreExiste'))
                    {
                    <span style="color:red">El nombre existe</span>
                    }
                    <label for="correo">CORREO:</label>
                    <input class="emailInput" type="text" formControlName="email">
                    @if(form.controls['email'].hasError('email'))
                    {
                        <span style="color:red">No es un email</span>
                    }
                    @if(form.controls['email'].touched && form.controls['email'].hasError('emailExiste'))
                    {
                    <span style="color:red">El email existe</span>
                    }
                    <div class="icono">
                        <i class="fa-solid fa-arrow-down" style="margin-top:25px"
                            (click)="saveUser(usuario.id!)"
                            [class.disabled]="form.invalid">
                        </i>
                    </div>
                </form>
        }
    </div>
</body>
</html>
