h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.searchForm{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 80px auto;
    justify-content: center;
    border: solid 1px white;
    background-color: rgb(14, 68, 104);
    border-radius: 10px;
}

.searchForm label{
    display: block;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.searchForm li{
    list-style-type: none;
}

.searchForm input[type=text]{
  box-sizing: border-box;
  width: 300px;
  font-size: 18px;
  background-color: rgb(66, 66, 66);
  padding: 5px 10px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.searchForm input[type=text]:focus{
    background-color: rgb(96, 96, 96);
}

.bttn input{
    background-color: rgb(11, 53, 81);
    padding: 8px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.bttn input:hover{
    background-color: rgb(25, 105, 159);
    color: rgb(226, 224, 101);
    border-color: rgb(180, 180, 180);
}

.msg{
    margin: 60px auto;
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.msg.error{
    align-items: center;
    border: 1px solid white;
    width: 255px;
    color: rgb(176, 17, 17);
}

.msg h2{
    color: green;
}

.msg p{
    margin-top: 10px;
}