<h1>Busqueda de Usuarios</h1>

<form class="searchForm" (ngSubmit)="getUser(nombre)">
    <li>
        <label for="nombre">Nombre</label>
        <input [(ngModel)]="nombre" type="text" id="nombre" name="nombre">
    </li>
    <div class="bttn"><input type="submit" value="Buscar"></div>
</form>

<div class="msg" *ngIf="usuario; else error">
    <h2>Usuario encontrado</h2>
    <p>Nombre: {{usuario.nombre}}</p>
    <p>Correo: {{usuario.email}}</p>
</div> 

<ng-template #error>    
     <h2 *ngIf="buscado"><div class="msg error">Usuario no encontrado</div></h2>
</ng-template>
