<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>CRUD</title>
</head>
<body>
    <a routerLink="/listado" class="listadoBttn"><i class="fa-solid fa-list-alt"></i><p>Listado</p></a>
    <a routerLink="/registro" class="crearBttn"><i class="fa-solid fa-arrow-up"></i><p>Crear</p></a>
    <a routerLink="/buscado" class="buscarBttn"><i class="fa-solid fa-search"></i><p>Buscar</p></a>
    <a routerLink="/eliminado" class="eliminarBttn"><i class="fa-solid fa-gavel"></i><p>Eliminar</p></a>
</body>

<router-outlet></router-outlet>