<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>CRUD</title>
</head>
<body>
    <div class="listadoBttn"><i class="fa-solid fa-list-alt"></i><p>Listado</p></div>
    <div class="crearBttn"><i class="fa-solid fa-arrow-up"></i><p>Crear</p></div>
    <div class="buscarBttn"><i class="fa-solid fa-search"></i><p>Buscar</p></div>
    <div class="eliminarBttn"><i class="fa-solid fa-gavel"></i><p>Eliminar</p></div>
</body>
</html>