a{
    text-decoration: none;
}

.listadoBttn{
    border: solid 2px rgb(152, 152, 152); 
    border-radius: 10px;
    width: 250px;
    height: 250px;
    position: absolute;
    left: calc(50% - 150px);
    top: 200px;
    transform: translateX(-50%);
    text-align: center;
    transition: all ease 0.2s;
}

.listadoBttn i{
    background-color: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
    position: absolute;
    transform: translateX(-50%);
    left: calc(50%);
    top: 60px;
    font-size: 102px;
    transition: all ease 0.2s;
}

.listadoBttn p{
    margin-top: 200px;
    font-size: 24px;
    transition: all ease 0.2s;
}

.listadoBttn:hover{
    border-color: rgb(160, 137, 20);
    box-shadow: 0px 0px 10px 1px rgb(215, 183, 26);
}

.listadoBttn:hover i{
    color: rgb(215, 183, 26);
}

.listadoBttn:hover p{
    color: rgb(215, 183, 26);
}

.crearBttn{
    border: solid 2px rgb(152, 152, 152);
    border-radius: 10px;
    width: 250px;
    height: 70px;
    position: absolute;
    transform: translateX(-50%);
    left: calc(50% + 130px);
    top: 200px;
    transition: all ease 0.2s;
}

.crearBttn i{
    position: absolute;
    transform: translateX(-50%);
    left: calc(50% - 90px);
    top: 20px;
    font-size: 28px;
    transition: all ease 0.2s;
}

.crearBttn p{
    margin-top: 18px;
    margin-left: 90px;
    font-size: 28px;
    transition: all ease 0.2s;
}

.crearBttn:hover{
    border-color: rgb(24, 167, 16);
    box-shadow: 0px 0px 10px 1px rgb(26, 221, 16);
}

.crearBttn:hover i{
    color: rgb(26, 221, 16);
}

.crearBttn:hover p{
    color: rgb(26, 221, 16);
}

.buscarBttn{
    border: solid 2px rgb(152, 152, 152);
    border-radius: 10px;
    width: 250px;
    height: 70px;
    position: absolute;
    transform: translateX(-50%);
    left: calc(50% + 130px);
    top: 290px;
    transition: all ease 0.2s;
}

.buscarBttn i{
    position: absolute;
    transform: translateX(-50%);
    left: calc(50% - 90px);
    top: 20px;
    font-size: 28px;
    transition: all ease 0.2s;
}

.buscarBttn p{
    margin-top: 18px;
    margin-left: 90px;
    font-size: 28px;
    transition: all ease 0.2s;
}

.buscarBttn:hover{
    border-color: rgb(21, 137, 173);
    box-shadow: 0px 0px 10px 1px rgb(25, 172, 217);
}

.buscarBttn:hover i{
    color: rgb(25, 172, 217);
}

.buscarBttn:hover p{
    color: rgb(25, 172, 217);
}

.eliminarBttn{
    border: solid 2px rgb(152, 152, 152);
    border-radius: 10px;
    width: 250px;
    height: 70px;
    position: absolute;
    transform: translateX(-50%);
    left: calc(50% + 130px);
    top: 380px;
    transition: all ease 0.2s;
}

.eliminarBttn i{
    position: absolute;
    transform: translateX(-50%);
    left: calc(50% - 90px);
    top: 20px;
    font-size: 28px;
    transition: all ease 0.2s;
}

.eliminarBttn p{
    margin-top: 18px;
    margin-left: 90px;
    font-size: 28px;
    transition: all ease 0.2s;
}

.eliminarBttn:hover{
    border-color: rgb(184, 24, 24);
    box-shadow: 0px 0px 10px 1px rgb(228, 29, 29);
}

.eliminarBttn:hover i{
    color: rgb(228, 29, 29);
}

.eliminarBttn:hover p{
    color: rgb(228, 29, 29);
}