<h1>Formulario de Registro</h1>

<div class="registerForm">
    <form #form="ngForm" (ngSubmit)="addUser3()"> 
        <ul>
            <li>
                <label for="name">Nombre</label>
                <input [(ngModel)]="nombre" type="text" id="nombre" name="nombre" required>
            </li> 
            <li> 
                <label for="name">Correo</label>
                <input [(ngModel)]="email" type="email" id="email" name="email" required>
            </li> 
            <div class="bttn"><input type="submit" value="Registrar" [disabled]="form.invalid"></div>
        </ul> 
    </form>
</div>

<div class="msg" *ngIf="creado && !exist; else error">
    <h2>Usuario creado satisfactoriamente</h2>
    <p>Nombre: {{nombre}}</p>
    <p>Correo: {{email}}</p>
</div> 

<ng-template #error>
    <div class="msg">
        <h2 *ngIf="creado && exist">{{errorMsg}}</h2>
    </div>
</ng-template>