<h1>Formulario de Registro</h1>

<div class="registerForm">
    <form [formGroup]="form" (ngSubmit)="addUser()"> 
        <ul>
            <li>
                <label for="name">Nombre</label>
                <input type="text" id="nombre" name="nombre" formControlName="nombre" required>
                @if(form.controls['nombre'].touched && form.controls['nombre'].hasError('required'))
                {
                    <span>El nombre es un campo requerido</span>
                }

                @if(form.controls['nombre'].touched && form.controls['nombre'].hasError('minlength'))
                {
                    <span>El nombre debe tener como mínimo 2 caracteres</span>
                }

                @if(form.controls['nombre'].touched && form.controls['nombre'].hasError('nombreExiste'))
                {
                    <span>El nombre existe</span>
                }
            </li> 
            <li> 
                <label for="name">Correo</label>
                <input type="email" id="email" name="email" formControlName="email" required>
                @if(form.controls['email'].touched && form.controls['email'].hasError('required'))
                {
                    <span>El email es un campo requerido</span>
                }

                @if(form.controls['email'].touched && form.controls['email'].hasError('email'))
                {
                    <span>No se trata de un correo electrónico</span>
                }

                @if(form.controls['email'].touched && form.controls['email'].hasError('emailExiste'))
                {
                    <span>El email existe</span>
                }
            </li> 
            <div class="bttn"><input type="submit" value="Registrar"></div>
        </ul> 
    </form>
</div>

<div class="msg" *ngIf="creado">
    <h2>Usuario creado satisfactoriamente</h2>
    <p>Nombre: {{nuevoNombre}}</p>
    <p>Correo: {{nuevoEmail}}</p>
</div> 


