/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: rgb(39, 39, 39);
}

input{
    background-color: rgb(66, 66, 66);
    color: white;
}