h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.userList{
    display: flex;
    justify-content: center;
    margin: 80px auto;
}

.userList ul{

    border: solid 1px white;
    border-radius: 10px;
}

.userList ul li{
    list-style-type: none;
    display: grid;
    grid-template-columns: 100px 200px 250px 180px 80px;
    padding: 20px 20px 20px;
    width: auto;
    font-size: 24px;
    gap: 0 40px;
}

.userList ul li:not(:last-child) {
    border-bottom: 1px solid white;
}

.idTitle{
    grid-row-start: 1;
    margin-bottom: 20px;
}

.nameTitle{ 
    grid-column-start: 2;
    margin-bottom: 20px;
}

.roleTitle{ 
    grid-column-start: 4;
    color: green;
}

.emailTitle{
    grid-column-start: 3;
    color: rgb(198, 198, 32);
}

.emailColumn{
    color: rgb(198, 198, 32);
}

.roleColumn{
    color: green;
}

.deleteBttn{
    grid-column-start: 5;
    color: black;
    background-color: rgb(193, 17, 17);
    width: 85px;
}

.deleteBttn:hover{
    background-color: rgb(116, 14, 14);
    color: rgb(183, 183, 183);
}

.modifyBttn{
    grid-column-start: 5;
    padding: 4px;
    width: 85px;
    color: black;
    background-color: rgb(103, 201, 33);
}

.modifyBttn:hover{
    background-color: green;
    color: white;
}

form{
    list-style-type: none;
    display: contents;
}

form .nameSpan{
    display: block;
    font-size: 13px;
    margin-top: 3px;
    position: absolute;
    margin-left: 140px;
    margin-top: 28px;
    color: rgb(243, 108, 108);
}

form .emailSpan{
    display: block;
    font-size: 13px;
    margin-top: 29px;
    position: absolute;
    margin-left: 380px;
    color: rgb(243, 108, 108);
}


